<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Food</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>New Food Page</h1>

    <form action="/users/<%= user._id %> %>/foods" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required />

      <label for="description">Description:</label>
      <input type="text" name="description" id="description" required />

      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" id="quantity" required />
      
      <button type="submit">Create</button>

      <a href="/foods">Cancel</a>

    </form>
  </body>
</html>